In [2]:
import pandas as pd
df = pd.read_excel('all_questions_8feb16.xlsx')
df.head(2)

,ArgGraph,Model 1,Approach 1,Model 2,Approach 2,Question,Summary 1,Summary 2,Source
0,www.kialo.com/3d-printer-and-guns-should-bluep...,BART-CNN,depth_first,BART-CNN,divide_conquer,"Consider the summaries related to the topic ""3...",The opposition to 3D guns is based on the exis...,"A computer with CAD software, an inexpensive 3...",Discussion Title: 3D Printer and Guns: Should ...
1,www.kialo.com/3d-printer-and-guns-should-bluep...,BART-CNN,depth_first,GPT-4,depth_first,"Consider the summaries related to the topic ""3...",The opposition to 3D guns is based on the exis...,In a debate on banning 3D-printed gun blueprin...,Discussion Title: 3D Printer and Guns: Should ...

In [7]:
list = {}
for n in df['Model 1']:
    if n in list:
        list[n]+=1
    else:
        list[n]=1

print(list)

{'BART-CNN': 650, 'GPT-4': 600, 'LLAMA2': 150}

In [8]:
df['Model 1'].value_counts()

Model 1
BART-CNN    650
GPT-4       600
LLAMA2      150
Name: count, dtype: int64

In [9]:
df['Model 2'].value_counts()

Model 2
LLAMA2      900
GPT-4       450
BART-CNN     50
Name: count, dtype: int64

In [12]:
df['Approach 1'].value_counts()

Approach 1
depth_first       700
divide_conquer    550
json              150
Name: count, dtype: int64

In [13]:
df['Approach 2'].value_counts()

Approach 2
json              550
divide_conquer    500
depth_first       350
Name: count, dtype: int64

In [15]:
s_df = pd.read_excel('shuffled_file_8feb16.xlsx')
s_df.head(2)

,Index,ArgGraph,Model 1,Approach 1,Model 2,Approach 2,Question,Summary 1,Summary 2,Source,UserAnswer,ModelOut,ApproachOut
0,1,www.kialo.com/all-us-and-eu-sanctions-imposed-...,BART-CNN,depth_first,LLAMA2,json,"Consider the summaries related to the topic ""a...",Sanctions to Russia have cut growth in Europe ...,\nThe debate revolves around the effectiveness...,Discussion Title: All US and EU sanctions impo...,NaN,NaN,NaN
1,2,www.kialo.com/are-countries-right-to-dispel-ru...,GPT-4,depth_first,LLAMA2,depth_first,"Consider the summaries related to the topic ""a...",Countries expelled Russian diplomats after the...,\nDebate surrounds expelling Russian diplomats...,Discussion Title: Are Countries Right to Dispe...,NaN,NaN,NaN

In [17]:
s_df['Model 1'].value_counts()

Model 1
BART-CNN    650
GPT-4       600
LLAMA2      150
Name: count, dtype: int64

In [22]:
b1_df = pd.read_excel('./batches/summaries_batch1.xlsx')
b2_df = pd.read_excel('./batches/summaries_batch2.xlsx')
b3_df = pd.read_excel('./batches/summaries_batch3.xlsx')
b4_df = pd.read_excel('./batches/summaries_batch4.xlsx')
b5_df = pd.read_excel('./batches/summaries_batch5.xlsx')
b6_df = pd.read_excel('./batches/summaries_batch6.xlsx')        
concatenated_df = pd.concat([b1_df, b2_df, b3_df, b4_df, b5_df, b6_df], axis=0)

In [23]:
concatenated_df.head(2)

,Index,ArgGraph,Model 1,Approach 1,Model 2,Approach 2,Question,Summary 1,Summary 2,Source,UserAnswer,ModelOut,ApproachOut
0,1,www.kialo.com/all-us-and-eu-sanctions-imposed-...,BART-CNN,depth_first,LLAMA2,json,"Consider the summaries related to the topic ""a...",Sanctions to Russia have cut growth in Europe ...,\nThe debate revolves around the effectiveness...,Discussion Title: All US and EU sanctions impo...,NaN,NaN,NaN
1,2,www.kialo.com/are-countries-right-to-dispel-ru...,GPT-4,depth_first,LLAMA2,depth_first,"Consider the summaries related to the topic ""a...",Countries expelled Russian diplomats after the...,\nDebate surrounds expelling Russian diplomats...,Discussion Title: Are Countries Right to Dispe...,NaN,NaN,NaN

In [24]:
concatenated_df['Model 1'].value_counts()

Model 1
BART-CNN    650
GPT-4       600
LLAMA2      150
Name: count, dtype: int64

In [25]:
concatenated_df['Model 2'].value_counts()

Model 2
LLAMA2      900
GPT-4       450
BART-CNN     50
Name: count, dtype: int64

In [26]:
concatenated_df['Approach 1'].value_counts()

Approach 1
depth_first       700
divide_conquer    550
json              150
Name: count, dtype: int64

In [27]:
concatenated_df['Approach 2'].value_counts()

Approach 2
json              550
divide_conquer    500
depth_first       350
Name: count, dtype: int64